node_modules/
.env
database.sqlite
emulator_screen.png
window_dump.xml
frontend/node_modules/
frontend/dist/
backend/node_modules/
backend/uploads/
.vscode/
smartsolar/build/
smartsolar/.dart_tool/
smartsolar/.pub-cache/
smartsolar/.pub/
smartsolar/linux/flutter/ephemeral/
smartsolar/macos/Flutter/ephemeral/
smartsolar/windows/flutter/ephemeral/
smartsolar/.idea/
*.iml
*.log
